#themeToggle{
    position: fixed;
    top: 50px;
    left: max(20px, calc((100vw - 400px) / 2 - 150px));
    width: auto;
    height: auto;
    aspect-ratio: unset;
    padding: 6px;
    background: transparent;
    border: none;
    border-radius: 0;
    font-size: 1.4rem;
    cursor: pointer;
    z-index: 999;
}
.light-mode #calculator {
    background-color: white;
}

.light-mode #display {
    background-color: #e6e6e6;
    color: black;
}

.light-mode button {
    background-color: #d9d9d9;
    color: black;
}

.light-mode .operator-btn {
    background-color: #ff944d;
}

.light-mode .operator-btn-clear {
    background-color: #ff4d4d;
}

.light-mode .equal-btn {
    background-color: #33cc33;
}


body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(180, 173, 173, 0.895);
}

#calculator{
    position: relative;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    max-width:  min(90vw, 450px);
    overflow: hidden;
    padding: 20px;
}

#display{
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 20px;
    font-size: clamp(3rem, 4vw, 3.5rem);
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
    border: none;
    color: white;
    background-color: rgba(59, 56, 56, 0.895);
}


#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 15px;
    justify-items: center;
}
.key-press {
    background-color: rgb(181, 178, 178) !important;
    transform: scale(0.95);
}


button{
    width: 100%;
    aspect-ratio: 1;
    font-family: 'Roboto Mono', monospace;
    border-radius: 50px;
    border: none;
    background-color: rgba(59, 56, 56, 0.895);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: rgb(129, 126, 126);
}
button:active{
    background-color: rgb(181, 178, 178);
}
button:focus {
    outline: 2px solid  rgb(5, 177, 8);
}

.operator-btn{
    background-color: rgb(255, 81, 33);
}
.operator-btn:hover{
    background-color: rgb(245, 133, 63);
}
.operator-btn:active{
    background-color: rgb(253, 181, 136);
}
.operator-btn-clear{
    background-color: rgb(236, 7, 7);
}
.operator-btn-clear:hover{
    background-color: rgb(250, 76, 76);
}
.equal-btn{
    background-color: rgb(5, 177, 8);
}
.equal-btn:hover{
    background-color: rgb(78, 238, 81);
}

/*shake animation*/
@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-5px); }
    40% { transform: translateX(5px); }
    60% { transform: translateX(-5px); }
    80% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}

#display.shake {
    animation: shake 0.4s;
}

#historyToggle{
    position: fixed;
    top: 120px;
    left: max(20px, calc((100vw - 400px) / 2 - 150px));
    width: auto;
    height: auto;
    aspect-ratio: unset;
    padding: 6px;

    font-size: 1.4rem;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 0;
    z-index: 999;
}


#historyPanel {
    position: fixed;
    top: 0;
    right: -260px;   /* hidden by default */
    width: 250px;
    height: 100vh;
    background: #111;
    color: white;
    padding: 15px;
    padding-top: 55px;
    transition: right 0.3s ease;
    overflow-y: auto;
    z-index: 998;
}

#historyPanel.active{
    right: 0;
}

#historyPanel h2{
    margin-top: 0;
    text-align: center;
    padding-right: 30px;
}

#historyList{
    list-style: none;
    padding: 0;
}

#historyList li{
    padding: 8px;
    border-bottom: 1px solid gray;
    cursor: pointer;
}

#historyList li:hover{
    background: #222;
}
#historyPanel {
    font-family: 'Roboto Mono', monospace;
}

#themeToggle img,
#historyToggle img {
    width: 48px;
    height: 48px;
    pointer-events: none;
}

#clearHistoryBtn{
    position: absolute;
    top: 35px;
    right: 30px;
    width: auto;
    background: transparent;
    border: none;
    cursor: pointer;
}

#clearHistoryBtn img{
    width: 25px;
    height: 25px;
}
.clear-anim {
    animation: fadeOut 0.2s ease;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0.3; }
}
