body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(176, 172, 172, 0.895);
}

#calculator{
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    max-width:  min(90vw, 450px);
    overflow: hidden;
    padding: 20px;
}

#display{
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 20px;
    font-size: clamp(3rem, 4vw, 3.5rem);
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
    border: none;
    color: white;
    background-color: rgba(59, 56, 56, 0.895);
}


#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 15px;
    justify-items: center;
}
.key-press {
    background-color: rgb(181, 178, 178) !important;
    transform: scale(0.95);
}


button{
    width: 100%;
    aspect-ratio: 1;
    font-family: 'Roboto Mono', monospace;
    border-radius: 50px;
    border: none;
    background-color: rgba(59, 56, 56, 0.895);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: rgb(129, 126, 126);
}
button:active{
    background-color: rgb(181, 178, 178);
}
button:focus {
    outline: 2px solid  rgb(5, 177, 8);
}

.operator-btn{
    background-color: rgb(255, 81, 33);
}
.operator-btn:hover{
    background-color: rgb(245, 133, 63);
}
.operator-btn:active{
    background-color: rgb(253, 181, 136);
}
.operator-btn-clear{
    background-color: rgb(236, 7, 7);
}
.operator-btn-clear:hover{
    background-color: rgb(250, 76, 76);
}
.equal-btn{
    background-color: rgb(5, 177, 8);
}
.equal-btn:hover{
    background-color: rgb(78, 238, 81);
}
